numpy
joblib
scikit-learn
opencv-contrib-python-headless
mediapipe
pydub
cvzone
Pillow
streamlit
streamlit-webrtc
streamlit-mic-recorder
av
torch
torchvision
torchmetrics
timm
pytorch-lightning
gTTS
SpeechRecognition